Jeanine Adkisson <jjmadkisson@gmail.com> http://jneen.net/ <jneen@jneen.net>
Jay Adkisson <jjmadkisson@gmail.com> http://jayferd.us/ <jjmadkisson@gmail.com>
Jay Adkisson <jjmadkisson@gmail.com> http://jayferd.us/ <jneen@jayferd.us>
